<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Travel App</title>
  </head>

  <body>
    <header>
      <div class="app-header">
        <h1>Travel App</h1>
      </div>
    </header>
    <main>
      <section id="result-wrapper">
        <div class="result-container">
          <div class="grid-item" id="image-container"></div>
          <div class="grid-item" id="info-container"></div>
        </div>
      </section>
      <div class="input-container">
        <form id="form" onsubmit="return false">
          <div class="input-wrapper">
            <label for="input-location">Destination:</label>
            <input
              id="input-location"
              type="text"
              name="input-location"
              value=""
              placeholder="Location"
            />
          </div>
          <div class="input-wrapper">
            <label for="input-date">Departure:</label>
            <input id="input-date" type="date" name="input-date" value="" />
          </div>
          <div class="input-wrapper">
            <label for="input-return-date">Return:</label>
            <input
              id="input-return-date"
              type="date"
              name="input-return-date"
              value=""
            />
          </div>
          <div class="input-wrapper">
            <input type="submit" name="" value="submit" />
          </div>
        </form>
      </div>
    </main>
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
