.result-container {
  background-color: #ffe9ec;
}

@media (min-width: 1101px) {
  .result-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #ffe9ec;
  }
}

.grid-item {
  padding: 20px;
}

img {
  width: 100%;
  height: auto;
}

#result-wrapper {
  display: none;
}
